<?xml version="1.0"?>
<launch>

    <!-- Gazebo vs. Real Robot Arm -->
    <arg name="sim" default="false" />

    <!-- Two Arms -->
    <arg name="side" default="right" />
    <arg name="right_arm" default="true" />

    <!-- Gripper Params --> 
    <arg name="comport" default="/dev/ttyUSB0"/>
    <arg name="baud" default="115200"/>

    <!-- Start the arm driver if we are not in simulation-->
    <!-- May need to change the launching order of the arms as the USB connection of arms might be in different order-->
     <include file="$(find kinova_bringup)/launch/kinova_robot_1.launch" unless="$(arg sim)">
        <arg name="kinova_robotName" value="left_arm" />
        <arg name="kinova_robotType" value="j2s7s300" />
        <arg name="kinova_robotSerial" value="PJ00900006152990001" />
    </include>
    
    <include file="$(find kinova_bringup)/launch/kinova_robot_1.launch" unless="$(arg sim)">
        <arg name="kinova_robotName" value="right_arm" />
        <arg name="kinova_robotType" value="j2s7s300" />
        <arg name="kinova_robotSerial" value="PJ00900006153340003" />
    </include>
	
    <!-- Start the trajectory server driver: left Arm -->
    <node pkg="kinova_driver" type="hlpr_trajectory_controller_two_arms" name="left_arm_jaco_trajectory_controller" output="screen">
        <param name="sim" value="$(arg sim)"/>
		<param name="side" value="left" />
    </node>
    
    <!-- Start the trajectory server driver: Right Arm -->
    <node pkg="kinova_driver" type="hlpr_trajectory_controller_two_arms" name="right_arm_jaco_trajectory_controller" output="screen">
        <param name="sim" value="$(arg sim)"/>
		<param name="side" value="right" />
    </node>
    
    
    <!-- Remapping the angles-->
    <include file="$(find hlpr_manipulation_utils)/launch/remap_joints.launch">
        <arg name="side_right" value="false"/>
    </include>
    
    <include file="$(find hlpr_manipulation_utils)/launch/remap_joints.launch">
        <arg name="side_right" value="true"/>
    </include>
    
    
        <!-- NOTE: need to check if we already do this on vector
         Start the gripper driver if we are not in simulation -->
    <!--node pkg="robotiq_85_driver" type="robotiq_85_driver" name="robotiq_85_driver" respawn="true" output="screen" unless="$(arg sim)">
        <param name="num_grippers" value="1" />
        <param name="comport" value="$(arg comport)" />
        <param name="baud" value="$(arg baud)" />
    </node-->
    <!-- If we want to use gripper actions -->
    <!--node pkg="robotiq_85_gripper_actions" type="gripper_actions" name="gripper_actions" /-->

</launch>
